<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: CV Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${visitor} + ', I hope you interested to hire me'"/>
<br>
<div class ="container">
    <section name ="bio">
        <p th:text="'My name is '+ ${owner}"/>
        <p th:text="'I born on '+${birthPlace}+', '+${birthDate}"/>
        <p th:text="'My house is at '+${address}"/>
    </section>
    <br>
    <section name ="education">
        <p th:text="'Here are my Education Histories'"/>
        <p th:text="'Elementary school : '+${sd}"/>
        <p th:text="'Junior Hish School : '+${smp}"/>
        <p th:text="'Senior High School : '+${sma}"/>
        <p th:text="'University : '+${univ}"/>
    </section>
    <br>
    <section name ="about me">
        <p th:text="'My Description'"/>
        <p th:text="${description}"/>
    </section>
</div>

</body>
</html>
